<?xml version ="1.0" encoding ="UTF-8" ?>
<odoo>
    <data>
        <record id="mail.menu_root_discuss" model="ir.ui.menu">
            <field name="sequence" eval="45"/>
        </record>
        <menuitem id="menu_view" name="Assignment System " sequence="1"/>

        <menuitem id="action_menu_view"
                  name="Assignment"
                  action="action_menu"
                  parent="menu_view"
                  sequence="10"/>
        <!--assignment-->

        <menuitem id="assignment_view_menu"
                  name="Assignments"
                  action="action_assignment_s"
                  parent="action_menu_view"
                  sequence="11"/>

        <menuitem id="my_assignment_view_menu"
                  name="My Assignment"
                  action="action_my_assignment"
                  parent="action_menu_view"
                  sequence="12"/>
        <!--Assistance-->
        <menuitem id="action_assist_menu"
                  name="Assistance"
                  action="action_assistance_s"
                  parent="menu_view"
                  sequence="10"/>
        <!--Task-->
        <menuitem id="action_task_menu_bar"
                  name="Task"
                  parent="menu_view"
                  sequence="10"/>
        <menuitem id="action_task_menu"
                  name="My Tasks"
                  action="task_action"
                  parent="action_task_menu_bar"
                  sequence="11"/>
        <menuitem id="action_sprint_menu"
                  name="Sprints"
                  action="sprint_action"
                  parent="action_task_menu_bar"
                  sequence="12"/>
        <!--employee-->
        <menuitem id="action_employee_tab_menu"
                  name="Employee"
                  action="action_employee_tab"
                  parent="menu_view"
                  sequence="10"/>

        <menuitem id="employee_view_menu"
                  name="Employees"
                  action="action_hr_employee"
                  parent="action_employee_tab_menu"
                  sequence="11"/>
        <!--users-->
        <menuitem id="users_view_menu"
                  name="Users"
                  action="action_res_users"
                  parent="action_employee_tab_menu"
                  sequence="12"/>
        <!--department-->
        <menuitem id="department_view_menu"
                  name="Department"
                  action="action_hr_department"
                  parent="action_employee_tab_menu"
                  sequence="13"/>
        <!--Projects-->
        <menuitem id="data_menu"
                  name="Data"
                  parent="menu_view"
                  sequence="10"/>

        <menuitem id="action_project_menu"
                  name="Projects"
                  action="action_projects"
                  parent="data_menu"
                  sequence="11"/>
        <!--Topics-->
        <menuitem id="action_topic_menu"
                  name="Topics"
                  action="topic_action"
                  parent="data_menu"
                  sequence="12"/>


    </data>
</odoo>