<?xml version ="1.0" encoding ="UTF-8" ?>
<odoo>
    <data>
        <record id="mail.menu_root_discuss" model="ir.ui.menu">
            <field name="sequence" eval="1"/>
        </record>
        <menuitem id="menu_view" name="Assignment System " sequence="10"/>

        <menuitem id="action_menu_view"
                  name="Employee"
                  action="action_menu"
                  parent="menu_view"
                  sequence="10"/>
        <!--employee-->
        <menuitem id="employee_view_menu"
                  name="Add Employee"
                  action="action_hr_employee"
                  parent="action_menu_view"
                  sequence="10"/>
        <!--department-->
        <menuitem id="department_view_menu"
                  name="Department"
                  action="action_hr_department"
                  parent="action_menu_view"
                  sequence="11"/>
        <!--assignment-->
        <menuitem id="assignment_menu"
                  name="Assignment"
                  action="action_assignment_menu"
                  parent="menu_view"
                  sequence="10"/>

        <menuitem id="assignment_view_menu"
                  name="Assignment"
                  action="action_assignment_s"
                  parent="assignment_menu"
                  sequence="10"/>

        <menuitem id="my_assignment_view_menu"
                  name="My Assignment"
                  action="action_my_assignment"
                  parent="assignment_menu"
                  sequence="11"/>
    </data>
</odoo>